#movie-info-container {

   display: flex;

  justify-content: center;
  flex-direction: column;

  flex-wrap: wrap;
  text-align: center;
  box-sizing: border-box;
 

  padding: 20px;
  background-color: white;
  border-radius:20px;
  box-shadow: 5px 5px 8px black;
  margin: 40px 10px;
}

img {
  width:auto;
  box-shadow: 5px 5px 8px black;
  border-radius: 10px;
}

p {
  font-size: 20px;
 
  text-align: center;
}

@media only screen and (max-width: 600px) {
 img {

  width: 300px;
  height: 450px;
  text-align:center;
 }
}

